.navbar{
   display:flex;
   width:auto;
   height:80px;
   padding: 10px;
   justify-content: space-between;
   background-color: #111; 
}
.logo{
    position: fixed;
     left:20px;
    padding-left: 10px;
    width:80px;
}

.avatar{
    position:fixed;
    right:20px;
    width:30px;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    gap:20px;
     margin-left:420px; 
    justify-content: center;
    align-items: center;
}
.navbar li{
    display: flex;
    flex-direction: row;
    color: rgba(240, 235, 235, 0.895);
    font-size: 16px;
    font-weight:300px;
    margin-left: 20px;
    cursor: pointer;
    

    
    
    transition: color 0.3s ease; 

  border-radius: 10px;
    /* transform: scale(0.9);
    color: #00aaff; */
}
    .navbar li:hover{
    
   color:rgba(255, 255, 255, 1)
   

    /* box-shadow: 0 4px 8px rgba(58, 143, 169, 0.2); */
}