.banner{
   
    background-size: cover;
    height: 448px;
    color:white;
    
}
.content{
    padding-top: 140px;
    height:190px;
    padding-left: 15px;

}
.title{
    font-size:3rem;
    font-weight: 800;
    padding-bottom: 5px;
}
/* div{
    display: block;
    unicode-bidi: isolate;
} */
.banner-buttons{
    display: flex;
    gap:20px;
    margin-bottom: 20px;
}
.button{
color:white;
outline:none;
border:none;
font-weight: 600;
border-radius: 10px;
padding-left: 2rem;
padding-right: 2rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
background-color: rgb(51, 51,51, .5);
cursor:pointer;
margin-right: 1rem;
}
.button:hover{
    color:black;
    background-color: #e6e6e6;
}
.description{
    width:45rem;
    line-height:20px;
    padding-top: 5px;
    font-size: 16px;
    height: 80px;
    max-width: 480px;
}
.fade_bottom{
    height:7.4rem;
    background-image:linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111)
}